<h1>Events Going On</h1>

<div>
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Creater</th>
        <th>Volunteers Coming</th>
        <th>Amount Needed</th>
        <th>Date</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody *ngFor= "let event of events">
        <tr>
          <td>{{event.title}}</td>
          <td>{{event.user.Username}}</td>
          <td>{{event.AmtVolunteers}}</td>
          <td>{{event.WantedAmountVolunteers}}</td>
          <td></td>
          <td></td>
        </tr>
    </tbody>
  </table>
</div>